.idea/.name
.idea/compiler.xml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/te.iml
.idea/workspace.xml
.idea/copyright/profiles_settings.xml
/source/bower_components/*
/source/bin/*

/source/karma/*
/source/node_modules/*
/source/vendor/*
notes.txt