<div ng-if="hasToken">
    <button class="btn-primary" ng-click="logout()">Log out</button>
    <h1>Log your time faster</h1>
    <br />
    <b>Time:</b> Enter any time for the current week, or the previous week. When you enter time, you will have the option to make billable. Time is non billable by default. </p>
    <br />
    <b>Description:</b> Click the toggle description to enter a description for your time. It is not required. Text saying "From api" will be entered as description.
    <h3>Select project</h3>
    <select ng-options="projects as projects.name for projects in projects track by projects.id" ng-model="item" ng-change="getTasks(item)"></select>
    <p ng-show="tasks">
        <button ng-if="timeFrame == 'CURRENT'" class="btn-primary" ng-click="changeTimeFrame('LAST_WEEK')">Show last week</button>
        <button ng-if="timeFrame == 'LAST_WEEK'" class="btn-primary"ng-click="changeTimeFrame('CURRENT')">Show this week</button>
        <button class="btn-primary"ng-click="toggleDescription()">Toggle Description</button>
        <table>
            <thead ng-show="tasks">
            <th>Task List Item</th>
            <th>Task Name</th>
            <th>Monday ({{monObj.date._d | date:'MM-dd-yyyy'}})</th>
            <th>Tuesday ({{tueObj.date._d | date:'MM-dd-yyyy'}})</th>
            <th>Wednesday ({{wedObj.date._d | date:'MM-dd-yyyy'}})</th>
            <th>Thursday ({{thurObj.date._d | date:'MM-dd-yyyy'}})</th>
            <th>Friday ({{friObj.date._d | date:'MM-dd-yyyy'}})</th>
            <th>Saturday ({{satObj.date._d | date:'MM-dd-yyyy'}})</th>
            <th>Sunday ({{sunObj.date._d | date:'MM-dd-yyyy'}})</th>
            </thead>
            <tr ng-repeat="a in tasks">
                <td>{{a['todo-list-name']}}</td>
                <td>{{a.content}}</td>
                <td>

                    <input type="number" ng-model="monObj[a.facadeId]" ng-click="timeBillable(true, monObj, a)" />

                    <label ng-if="!hideDescription">Description</label>
                    <textarea ng-model="monObj[a.descId]" ng-if="!hideDescription"></textarea>

                    <button class="btn btn-primary" ng-if="monObj[a.facadeId] && !monObj[a.billableId]" ng-model="monObj[a.billableId]" ng-click="timeBillable(true, monObj, a)">Make billable</button>
                    <button class="btn btn-primary" ng-if="monObj[a.facadeId] && monObj[a.billableId]" ng-model="monObj[a.billableId]"   ng-click="timeBillable(false, monObj, a)">Make non billable</button>
                </td>
                <td>
                    <input type="number" ng-model="tueObj[a.facadeId]" ng-model="monObj[a.facadeId]" ng-click="timeBillable(true, tueObj, a)"  />

                    <label ng-if="!hideDescription">Description</label>
                    <textarea ng-model="tueObj[a.descId]" ng-if="!hideDescription"></textarea>

                    <button class="btn btn-primary" ng-if="tueObj[a.facadeId] && !tueObj[a.billableId]" ng-model="tueObj[a.billableId]" ng-click="timeBillable(true, tueObj, a)">Make billable</button>
                    <button class="btn btn-primary" ng-if="tueObj[a.facadeId] && tueObj[a.billableId]" ng-model="tueObj[a.billableId]"   ng-click="timeBillable(false, tueObj, a)">Make non billable</button>
                </td>
                <td><input type="number" ng-model="wedObj[a.facadeId]" ng-click="timeBillable(true, wedObj, a)" />

                    <label ng-if="!hideDescription">Description</label>
                    <textarea ng-model="wedObj[a.descId]" ng-if="!hideDescription"></textarea>

                    <button class="btn btn-primary" ng-if="wedObj[a.facadeId] && !wedObj[a.billableId]" ng-model="wedObj[a.billableId]" ng-click="timeBillable(true, wedObj, a)">Make billable</button>
                    <button class="btn btn-primary" ng-if="wedObj[a.facadeId] && wedObj[a.billableId]" ng-model="wedObj[a.billableId]"   ng-click="timeBillable(false, wedObj, a)">Make non billable</button>
                </td>
                <td><input type="number" ng-model="thurObj[a.facadeId]" ng-click="timeBillable(true, thurObj, a)" />

                    <label ng-if="!hideDescription">Description</label>
                    <textarea ng-model="thurObj[a.descId]" ng-if="!hideDescription"></textarea>

                    <button class="btn btn-primary" ng-if="thurObj[a.facadeId] && !thurObj[a.billableId]" ng-model="thurObj[a.billableId]" ng-click="timeBillable(true, thurObj, a)">Make billable</button>
                    <button class="btn btn-primary" ng-if="thurObj[a.facadeId] && thurObj[a.billableId]" ng-model="thurObj[a.billableId]"   ng-click="timeBillable(false, thurObj, a)">Make non billable</button>
                </td>
                <td>
                    <input type="number" ng-model="friObj[a.facadeId]" ng-click="timeBillable(true, friObj, a)" />

                    <label ng-if="!hideDescription">Description</label>
                    <textarea ng-model="friObj[a.descId]" ng-if="!hideDescription"></textarea>

                    <button class="btn btn-primary" ng-if="friObj[a.facadeId] && !friObj[a.billableId]" ng-model="friObj[a.billableId]" ng-click="timeBillable(true, friObj, a)">Make billable</button>
                    <button class="btn btn-primary" ng-if="friObj[a.facadeId] && friObj[a.billableId]" ng-model="friObj[a.billableId]"   ng-click="timeBillable(false, friObj, a)">Make non billable</button>
                </td>
                <td>
                    <input type="number" ng-model="satObj[a.facadeId]" ng-click="timeBillable(true, satObj, a)" />

                    <label ng-if="!hideDescription">Description</label>
                    <textarea ng-model="satObj[a.descId]" ng-if="!hideDescription"></textarea>

                    <button class="btn btn-primary" ng-if="satObj[a.facadeId] && !satObj[a.billableId]" ng-model="satObj[a.billableId]" ng-click="timeBillable(true, satObj, a)">Make billable</button>
                    <button class="btn btn-primary" ng-if="satObj[a.facadeId] && satObj[a.billableId]" ng-model="satObj[a.billableId]"   ng-click="timeBillable(false, satObj, a)">Make non billable</button>
                </td>
                <td>
                    <input type="number" ng-model="sunObj[a.facadeId]" ng-click="timeBillable(true, sunObj, a)" />

                    <label ng-if="!hideDescription">Description</label>
                    <textarea ng-model="sunObj[a.descId]" ng-if="!hideDescription"></textarea>

                    <button class="btn btn-primary" ng-if="sunObj[a.facadeId] && !sunObj[a.billableId]" ng-model="sunObj[a.billableId]" ng-click="timeBillable(true, sunObj, a)">Make billable</button>
                    <button class="btn btn-primary" ng-if="sunObj[a.facadeId] && sunObj[a.billableId]" ng-model="sunObj[a.billableId]"   ng-click="timeBillable(false, sunObj, a)">Make non billable</button>
                </td>
            </tr>
    </table>
    <button ng-click="submitTimeForTask()" ng-show="tasks" class="btn btn-default">Submit</button>
    </p>
    <div growl></div>
</div>
<div ng-if="!hasToken">
    <label>Enter your API Key</label>
    <input ng-model="apiKey" type="password" />
    <label>Enter Teamwork URL (https://yourorg.teamworkpm.net)</label>
    <input ng-model="teamworkUrl" type="text" value="https://rtslabs.teamwork.com" />
    <button ng-click="submitKey(apiKey, teamworkUrl)" class="btn-primary">Submit</button>
    <p><a href="http://developer.teamwork.com/enabletheapiandgetyourkey" target="_new">How to get your Teamwork API Key</a></p>
</div>